<div id="footerContent">
	<table id="footerTable">
		<tr>
			<td class="footerCell"><b>Follow Us:</b></td>
			<td class="footerCell"><a href="https://www.facebook.com/graceswingscomic" class="footerLink">Facebook</a></td>
			<td class="footerCell"><a href="https://www.twitter.com/gwcomic" class="footerLink">Twitter</a></td>
		</tr>
		<tr>
			<td class="footerCell"><b>Affiliates:</b></td>
			<td class="footerCell"><a href="http://www.graceswings.com/" class="footerLink">Grace's Wings</a></td>		
		</tr>
	</table>
	<br><br>
	<div id="copyright">&copy; Max Harley Rogerson</div>
	<br>
</div>