<a href="#/"><img src="/img/siteBanner.png" id="siteBanner"></a>
<br><br>
<div id="navBar">
		<ul class="list">
			<li class="navItem"><a href="/#/" class="navLink"><img src="/img/buttons/home.png" class="navButton"></a></li>
			<li class="navItem"><a href="/#/comics/monomyth" class="navLink"><img src="/img/buttons/archive.png" class="navButton"></a></li>
			<li class="navItem"><!--<a href="/about" class="navLink">--><img src="/img/buttons/about.png" class="navButton"></a></li>
			<li class="navItem"><!--<a href="/cast" class="navLink">--><img src="/img/buttons/cast.png" class="navButton"></a></li>
			<li class="navItem"><a href="/contact" class="navLink"><img src="/img/buttons/contact.png" class="navButton"></a></li>
		</ul>
</div>